In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'estat_crim_hom_soff.tsv', sep='\t')

In [3]:
# data.head(10)

In [4]:
# data.tail(10)
data.columns[0]

'freq,iccs,leg_stat,sex,unit,geo\\TIME_PERIOD'

In [5]:
data2 = data.rename({data.columns[0]: data.columns[0].replace(r"\TIME_PERIOD", "")}, axis="columns") #.str.replace(r"\"), inplace=True
data2
split_name_columns = (data2.columns[0]).split(',')
count_columns = len(split_name_columns)

In [6]:
data2[split_name_columns] = data2[data2.columns[0]].str.split(',', expand=True)
data2 = data2.drop(data2.columns[0], axis="columns") #odstraneni jiz rozdeleneho sloupce

# presun rozdelenych udaju na zacatek df
reorg_columns = data2.columns.tolist()
change_columns = reorg_columns[-count_columns:] + reorg_columns[:-count_columns]
data2=data2[change_columns]

In [7]:
data2 = data2.replace(": ", None)

In [83]:
data2.info()
data2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2683 entries, 0 to 2682
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   freq      2683 non-null   object
 1   iccs      2683 non-null   object
 2   leg_stat  2683 non-null   object
 3   sex       2683 non-null   object
 4   unit      2683 non-null   object
 5   geo       2683 non-null   object
 6   2008      1690 non-null   object
 7   2009      1944 non-null   object
 8   2010      2027 non-null   object
 9   2011      2122 non-null   object
 10  2012      2091 non-null   object
 11  2013      2170 non-null   object
 12  2014      2223 non-null   object
 13  2015      2296 non-null   object
 14  2016      2263 non-null   object
 15  2017      2213 non-null   object
 16  2018      2157 non-null   object
 17  2019      2118 non-null   object
 18  2020      2121 non-null   object
 19  2021      2107 non-null   object
 20  2022      1997 non-null   object
dtypes: object(21)
memory usage: 440.3+ KB

,freq,iccs,leg_stat,sex,unit,geo,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,A,ICCS0101,PER_CNV,F,NR,AL,None,None,None,None,...,4,3,5,3,2,1,0,2,0,None
1,A,ICCS0101,PER_CNV,F,NR,AT,6,3,3,3,...,5,4,4,4,2,2,2,4,6,1
2,A,ICCS0101,PER_CNV,F,NR,BA,None,None,None,6,...,24,14,11,8,14,5,2,7,4,7
3,A,ICCS0101,PER_CNV,F,NR,BE,None,None,24,33,...,22,20,12,11,14,8,13,7,None,None
4,A,ICCS0101,PER_CNV,F,NR,BG,9,9,13,7,...,11,8,5,5,2,10,2,2,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2678,A,ICCS03012,PER_VICT,T,P_HTHAB,TR,None,None,None,None,...,None,None,None,2.71,2.89,3.29,3.52,2.88,3.26,3.45
2679,A,ICCS03012,PER_VICT,T,P_HTHAB,UKC-L,40.40,40.16,41.57,39.44,...,39.40,67.82,79.66,87.89,105.57,None,None,None,None,None
2680,A,ICCS03012,PER_VICT,T,P_HTHAB,UKM,None,None,80.72,95.61,...,66.22,71.78,76.17,81.91,91.33,None,None,None,None,None
2681,A,ICCS03012,PER_VICT,T,P_HTHAB,UKN,46.32,39.41,45.30,44.43,...,54.03,62.81,54.44,73.61,75.91,None,None,None,None,None
2682,A,ICCS03012,PER_VICT,T,P_HTHAB,XK,5.39,4.63,4.30,6.47,...,None,None,None,3.05,None,2.39,3.23,2.69,None,None

In [ ]:
# vyměnit ':' za NaN
# přetypovat sloupce na čísla
# souhrn informaci, o jaká data se v každém souboru jedná? jestli se jedná jen o Anual data, jaké trestne ciny, unity a pod